<link rel="stylesheet" href="./style.css">
<nav class="navbar">
    <a href="/index.html" class="navbar-brand">
        <img src="/assets/images/Logo.png" alt="Cek Tipu Logo">
    </a>
    <ul class="navbar-links">
        <li><a href="/pages/dashboard/dashboard.html">Homepage</a></li>
        <li><a href="/pages/forum/index.html">Forum</a></li>
        <li><a href="/pages/subscription/subcription.html">Subscription</a></li>
        <li><a href="/pages/profile/main/profile.html">Profile</a></li>
    </ul>

    <div class="navbar-sigin">
        <a href="/pages/auth/signin/signin.html" class="btn-signin">Sign In</a>
    </div>
</nav>