@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down {
    animation: fadeDown 0.7s ease-out both;
}

@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-scale {
    animation: fadeScale 0.7s ease-out both;
}

@keyframes fadeScalesDivider {
    from {
        opacity: 0;
        transform: scale(0.25);
    }
    to {
        opacity: 0.5;
        transform: scale(1);
    }
}

.fade-scale-divider {
    animation: fadeScalesDivider 0.7s ease-out both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(32px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.7s ease-out both;
}