@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down {
    animation: fadeDown 1s ease-out forwards;
}

@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-scale {
    animation: fadeScale 1s ease-out forwards;
}

@keyframes fadeScalesDivider {
    from {
        opacity: 0;
        transform: scale(0.25);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-scale-divider {
    animation: fadeScalesDivider 1.215s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}