@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Reguler.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Font Family */
    --font-primary: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    --font-family: 'SF Pro Display', sans-serif;

    /* Font Weight */
    --font-regular: 350;
    --font-medium: 500;
    --font-bold: 700;

    --text-xl-title1: 3rem; /* 48px */
    --text-xl-title2: 2.375rem; /* 38px */
    --text-large-title: 1.8125rem; /* 29px */
    --text-title1: 1.5rem; /* 24px */
    --text-title2: 1.375rem; /* 22px */
    --text-title3: 1.1875rem; /* 19px */
    --text-headline: 1.0625rem; /* 17px */
    --text-body: 1.0625rem; /* 17px */
    --text-callout: 0.9375rem; /* 15px */
    --text-subhead: 0.9375rem; /* 15px */
    --text-subheadline: 0.875rem; /* 14px */
    --text-footnote: 0.8125rem; /* 13px */
    --text-caption: 0.75rem; /* 12px */

    /* Line Height */
    --leading-xl-title1: 3.5rem; /* 56px */
    --leading-xl-title2: 2.875rem; /* 46px */
    --leading-large-title: 2.375rem; /* 38px */
    --leading-title1: 2rem; /* 32px */
    --leading-title2: 1.75rem; /* 28px */
    --leading-title3: 1.5rem; /* 24px */
    --leading-headline: 1.375rem; /* 22px */
    --leading-body: 1.375rem; /* 22px */
    --leading-callout: 1.25rem; /* 20px */
    --leading-subhead: 1.25rem; /* 20px */
    --leading-subheadline: 1.125rem; /* 18px */ 
    --leading-footnote: 1.125rem; /* 18px */
    --leading-caption: 1rem; /* 16px */

    /* Letter Spacing */
    --tracking-tight: -0.03em;
    --tracking-normal: 0em;
    --tracking-wide: 0.01em;
    --tracking-wider: 0.2em;

    /* Primary */
    --color-primary: #0F62FE;
    --color-btn-primary: #0F62FE;
    --color-btn-signin: #0354A6;
    --color-box-sign: #1A94FF;

    /* Neutral */
    --color-navbar: #262626;
    --color-bg: #161616;
    --color-bg-history: #F4F4F4;
    --color-asset: #C6C6C6;
    --color-shading: #6F6F6F;

    /* Text */
    --color-text-white: #FFFFFF;
    --color-text-black: #000000;

    /* Status */
    --color-success: #42BE65;
    --color-warning: #F1C21B;
    --color-danger: #FA4D56;
}