.text-xl-title1 {
    font-size: var(--text-xl-title1);
    line-height: var(--leading-xl-title1);
    font-weight: var(--font-bold);
}

.text-xl-title2 {
    font-size: var(--text-xl-title2);
    line-height: var(--leading-xl-title2);
    font-weight: var(--font-bold);
}  

.text-large-title {
    font-size: var(--text-large-title);
    line-height: var(--leading-large-title);
    font-weight: var(--font-bold);
}

.text-title1 {
    font-size: var(--text-title1);
    line-height: var(--leading-title1);
    font-weight: var(--font-bold);
}

.text-title2 {
    font-size: var(--text-title2);
    line-height: var(--leading-title2);
    font-weight: var(--font-bold);
}

.text-title3 {
    font-size: var(--text-title3);
    line-height: var(--leading-title3);
    font-weight: var(--font-bold);
}

.text-headline {
    font-size: var(--text-headline);
    line-height: var(--leading-headline);
    font-weight: var(--font-bold);
}

.text-body {
    font-size: var(--text-body);
    line-height: var(--leading-body);
    font-weight: var(--font-medium);
}

.text-callout {
    font-size: var(--text-callout);
    line-height: var(--leading-callout);
    font-weight: var(--font-medium);
}

.text-subhead {
    font-size: var(--text-subhead);
    line-height: var(--leading-subhead);
    font-weight: var(--font-medium);
}

.text-footnote {
    font-size: var(--text-footnote);
    line-height: var(--leading-footnote);
    font-weight: var(--font-medium);
}

.text-caption {
    font-size: var(--text-caption);
    line-height: var(--leading-caption);
    font-weight: var(--font-medium);
}